main {
  background-color: #c9e8e8;
  margin: 20px;
  width: 900px;
  height: 900px;
  border: 2px solid black;
  padding: 20px;
}

img {
  border: 2px solid black;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.img-left {
  float: left;
  margin-right: 15px;
}

.img-right {
  float: right;
  margin-left: 15px;
}
