body {
  font-family: Arial, Helvetica, sans-serif;
}

main,
nav,
#pictures-game,
#system-requirements,
#user-reviews {
  width: 60%; /* breedte pagina */
  margin: 0 auto;
  /* background-color: lightgray; */
  border: 2px solid black;
}

main,
#pictures-game,
#system-requirements {
  padding-left: 30px;
  display: flex;
  border-bottom: none;
}

main {
  position: relative;
  justify-content: space-between;
  align-items: start;
}

nav {
  background-color: white;
  margin-bottom: 20px;
}

#user-reviews,
#system-requirements,
#pictures-game,
nav {
  padding: 15px;
}

#links-games {
  display: flex;
  gap: 5px;
}

#links-games a:hover,
#links-games button:hover,
#open-shopping-cart:hover {
  color: white;
  background-color: black;
}

#links-games a,
#links-games button,
#open-shopping-cart {
  padding: 20px;
  border: 2px solid black;
  color: black;
  background-color: white;
  text-decoration: none;
}

#links-games button:last-child {
  margin-left: auto;
}

#description-game {
  width: 70%;
  height: 100%;
}

#type-game {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding-left: 30px;
}

#type-game p {
  margin-right: 8px;
  padding: 5px;
  border: 2px solid black;
}

#game-info {
  width: 30%;
  text-align: left;
  border-left: 2px solid black;
  padding-left: 15px;
}

#player-rating p {
  font-weight: bold;
}

#player-rating {
  padding-bottom: 40px;
}

#pictures-game img {
  width: 200px;
  padding-right: 15px;
}

#system-requirements {
  display: flex;
  flex-direction: column; /* Stapelt de elementen onder elkaar */
  padding: 15px;
}

.hidden {
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 20px 80px 20px 80px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.round-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  border: 2px solid black;
  flex-shrink: 0;
}

#popup-game-content {
  max-height: 600px;
  overflow-y: auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 25px;
}

#game-name {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

#games-popup {
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
}

#open-shopping-cart {
  margin-top: 10px;
  float: right;
  border-radius: 5px;
}
