body {
  font-family: Arial, Helvetica, sans-serif;
}

main,
nav,
#pictures-game,
#system-requirements,
#user-reviews {
  width: 60%; /* breedte pagina */
  margin: 0 auto;
  /* background-color: lightgray; */
  border: 2px solid black;
}

main,
#pictures-game,
#system-requirements {
  padding-left: 30px;
  display: flex;
}

main {
  position: relative;
  justify-content: space-between;
  align-items: start;
}

nav {
  background-color: white;
  margin-bottom: 20px;
}

#user-reviews,
#system-requirements,
#pictures-game,
nav {
  padding: 15px;
}

#links-games {
  display: flex;
  gap: 5px;
}

#links-games a {
  padding: 20px;
  border: 2px solid black;
  color: black;
  text-decoration: none;
}

#links-games a:last-child {
  margin-left: auto;
}

#description-game {
  width: 70%;
  height: 100%;
}

#type-game {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding-left: 30px;
}

#type-game p {
  margin-right: 8px;
  padding: 5px;
  border: 2px solid black;
}

#game-info {
  width: 30%;
  text-align: left;
  border-left: 2px solid black;
  padding-left: 15px;
}

#player-rating p {
  font-weight: bold;
}

#player-rating {
  padding-bottom: 40px;
}

#pictures-game img {
  width: 200px;
  padding-right: 15px;
}

#system-requirements {
  display: flex;
  flex-direction: column; /* Stapelt de elementen onder elkaar */
  padding: 15px;
}
