body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Pas het gewicht aan zoals nodig */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.page {
  width: 50%; /* breedte pagina */
  margin: 0 auto;
  /* background-color: lightgray; */
  padding: 20px;
  text-align: left;
}

p {
  font-size: 20px;
  line-height: 26px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

p:first-of-type {
  font-size: 24px;
  line-height: 32px;
}

h1,
p {
  margin-bottom: 40px;
}

#ingredients {
  margin-bottom: 10px;
}
